 #logoImg {
   width: 300px;
   margin-top: -13px;
   margin-bottom: -13px;
}

.navbar {
  background: #F3D306;  
}

#topicContainer {
    background: #000000;
}

#getStartedText{
    color:#868686;
}

#submitButton {
    background: #000000;
}

.sportButtons {
    margin-right: 10px;
    margin-top: 5px;
}

.addMoreGifs{
    width: 150px;
    margin-left: 4px;
    margin-bottom: 10px;
}

.downloadButton {
    margin-left: 10px;
}

.newDownloadButton{
    margin-left: 10px;
}

p{
    margin-left: 10px;
}

.gifTitle{
margin-bottom: -1px;
}

img {
    margin: 10px;
}